.headerD57 {

}

header {
  height: 10%;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
} 
.logo {
  width: 124px;
  margin-top: 20px;
}  
.header-left {
  float: left;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.utama1 {
	width:50%;
	height:30%;
	color:rgba(226, 107, 10, 1);
}

.utama2 {
	width:50%;
	height:30%;
	color:rgba(226, 107, 10, 0.5);
}

.tambah1 {

}

h2 {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 30px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: #cc0000;
	height: 2px;
	width: 90px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}

}
.section-title {
	margin-bottom: 10px;
}
.section-title .overlay {
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}

.image-resize{
	height: 210px;
	width: 350px;
}

#tambah2 {
	padding: 20px 0;
	text-align: center;
	color: #404040;
}
#tambah2 .features-item {
	margin: 0 px;
}
#tambah2 img {
	margin: 15px auto 20px;
}
#tambah2 p {
	line-height: 24px;
	margin: 15px 0 30px;
}

.footerD57 { 
 background-color: #19e619;
  height: 15%;
  width:100%;
  text-align: center;
  line-height: 15%;
}

img {
  width: 50px;
  padding-bottom: 5px;
}

p {
  color: white;
  font-size: 12px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
