/* headerD57 dibuat oleh Pak Fauzii tanggal 22 Juni 2020 */
.headerD57 {

} /* akhir headerD57 */
header {
  height: 10%;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
} 
.logo {
  width: 124px;
  margin-top: 20px;
}  
.header-left {
  float: left;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* akhir headerD57 */ 

/* utama dibuat oleh Pak Fakhrul Alam tanggal 22 Juni 2020 */
.utama {

} /* akhir utama */


/* tambah1 dibuat oleh Pak Hendrawijaya tanggal 22 Juni 2020 */
.tambah1 {

} /* akhir tambah1 */

/* tambah2 dibuat oleh Pak Hanifandrugs tanggal 22 Juni 2020 */
.tambah2 {

} /* akhir tambah2 */

/* CSS footerD57, dibuat oleh Hairunnisa tanggal 23 Juni 2020 */
.footerD57 { 
 background-color: #19e619;
  height: 15%;
  width:100%;
  text-align: center;
  line-height: 15%;
}

/* CSS image logo di footerD57 */
img {
  width: 50px;
  padding-bottom: 5px;
}

/* CSS untuk tag <p> yang berada didalam <footer57> */
p {
  color: white;
  font-size: 12px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}


